@font-face {
  font-family: "Montserrat-Bold";
  src: url("Montserrat-Bold.ttf") format("TrueType");
}

body {
  background-color: lightpink;
}

.smalltext {
  font-family: "Montserrat-Bold";
  text-align: "Montserrat-Bold";
  color: green;
  font-size: 20px;
}
.bigtext {
  font-family: "Montserrat-Bold";
  text-align: left;
  color: yellow;
  font-size: 5em;
}
